[Unit]
Description=GoAccess Real-time Web Log Analyzer
After=network.target nginx.service

[Service]
Type=simple
ExecStart=/usr/local/bin/goaccess-wrapper.sh
StandardOutput=null
StandardError=journal
Restart=always

[Install]
WantedBy=multi-user.target
